@import 'ui/fonts';
@import 'ui/vars';
@import 'ui/mixins';
@import 'ui/global';
@import 'ui/headers';
@import 'ui/tables';
@import 'ui/forms';
@import 'ui/panel';
@import 'ui/nav';
@import 'ui/buttons';

body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.full-height{
  min-height: calc(100vh - 83px);
}
.error-page{
  background-color: $brand-red-alt;
  color: $brand-white;
  font-weight: bold;
}
