@import 'ui/fonts';
@import 'ui/vars';
@import 'ui/mixins';
@import 'ui/global';
@import 'ui/headers';
@import 'ui/tables';
@import 'ui/forms';
@import 'ui/panel';

body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.error-page{
  min-height: calc(100vh - 93px);
  background-color: $brand-red;
  color: $brand-white;
  font-weight: bold;
}
