.btn-xs{
    padding: 0.15rem 0.25rem;
    font-size: 0.675rem;
    line-height: 1;
    border-radius: 0.1rem;
}
.btn-red{
    background-color: $brand-red;
    color: $brand-white;
    box-shadow: 0 4px 3px -3px #333;
    &:hover, &:active{
        background-color: $brand-red-alt;
        outline: none;
    }
    
    &:focus, &:active:focus {
        box-shadow: none
    }
}