.border-none{
    border: 0px !important;
}

.bg-red{
    background-color: $brand-red;
}

.btn {
    border-radius: 0px;
}
a.btn{
    &:hover, &:focus, &:active, &:active:focus {
        color: $brand-white;
    }
}