mixin outputRating(rating)
  - for(var i = 1; i <= 5; i++) {
      if i <= rating
        span.fas.fa-star
      else
        span.far.fa-star
  - }

mixin facilities(arr)
    each facility in arr
        span.badge.badge-danger #{facility}
        | &nbsp;