mixin outputRating(rating)
  - for(var i = 1; i <= 5; i++) {
      if i <= rating
        span.fas.fa-star.text-danger
      else
        span.far.fa-star.text-danger
  - }

mixin facilities(arr)
    each facility in arr
        button.btn.btn-light.btn-sm #{facility}
        | &nbsp;

mixin outputReviews(reviews)
    each locationRev in reviews
        .row.justify-content-center
            .col
                .card.panel__list_item--review
                    .card-header
                        span.rating
                            +outputRating(locationRev.rating)
                        | &nbsp;
                        span.reviewAuthor #{locationRev.author}
                        | &nbsp;
                        small.reviewTimestrapm 
                            +formatDate(locationRev.timeStamp)
                    .card-body
                        p.mb-0 #{locationRev.review}

mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  -var d = date.getDate();
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var output = d + ' ' + m + ' ' + y;
  =output