extends layout

block content
    .container
        .page-header
                .row
                    .col
                        .card.panel__info--no-spasing.border-none
                            .card-body
                                h1 #{pageHeader.title}
        .row
            .col
                .card.panel__info.border-none
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus iaculis nulla, ut commodo ante interdum quis. Fusce eget tortor nec justo bibendum tristique. Mauris dignissim elit non fringilla ultrices. Quisque fringilla leo eget luctus tincidunt. Duis suscipit, eros ac dapibus tempus, urna quam elementum enim, ut molestie diam orci eget nisl. Aenean tempor sed tellus et auctor. Sed commodo dolor in mollis porta. Nullam rhoncus lorem in lacinia facilisis. Integer felis est, dapibus quis lacinia quis, blandit lobortis mi.

                        p Suspendisse vitae ornare urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur convallis ultricies mauris. Donec laoreet sapien vitae hendrerit blandit. Nullam egestas auctor dui a fermentum. Aenean et orci ut mi commodo porta. Integer ut quam lacinia, rhoncus justo quis, aliquam turpis.

                        p Aenean vulputate nec libero et accumsan. Pellentesque at ante in massa posuere pellentesque. Etiam luctus sagittis nulla, eu auctor sapien suscipit eget. Aenean dapibus et urna eget vehicula. Vestibulum fringilla lorem vitae gravida placerat. Duis posuere dictum dui sed tincidunt. Duis suscipit commodo eros, eget lobortis risus semper vel. In ultricies tempus cursus. Ut vel ligula in erat efficitur viverra. Donec dapibus turpis non dui consectetur, eget commodo elit scelerisque. Pellentesque vestibulum, magna vitae luctus finibus, sem orci rhoncus orci, vestibulum malesuada diam mi non erat. Suspendisse et tellus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
